* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 2000px;
  margin: auto;
}

nav {
  display: flex;
  padding: 20px;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  z-index: 2;
}

.nav__items {
  display: flex;
  gap: 20px;
  font-weight: 700;
  list-style-type: none;
  font-size: 20px;
  color: var(--primary-color);
}

.nav__search {
  display: flex;
  gap: 16px;
}

.search {
  position: relative;
  padding-right: 90px;
  padding-left: 30px;
  padding-block: 22px;
  border: 2px solid var(--border-color);
  border-radius: 38px;
  background-color: var(--search-color);
}

.search-icon {
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.search-input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 22px;
  background-color: transparent;
}

.cart {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 2px solid var(--border-color);
  border-radius: 38px;
  background-color: var(--search-color);
  padding-left: 4px;
  padding-right: 20px;
}

.cart img {
  cursor: pointer;
  transition: 0.3s;
}

.cart img:hover {
  transform: rotate(360deg);
}

/* ! hero */

#hero {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  position: relative;
}

.hero__title {
  margin-left: 9%;
}

.green-title {
  color: var(--mint-color);
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
}

.hero__title h2 {
  color: var(--primary-color);
  font-size: 4.3rem;
}

.hero__title button {
  background-color: var(--yellow-color);
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
  border: none;
  padding: 20px 30px;
  gap: 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.hero__title button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px 2px #00000052;
}

#hero > img {
  position: absolute;
  pointer-events: none;
}

.onion {
  top: 0;
  left: 0;
}

.starwberry {
  top: 53px;
  left: 31%;
}

.leaves-tr {
  top: 0;
  right: 0;
}

.leaves-br {
  bottom: 0;
  right: 0;
}

.leaves-bl {
  bottom: 0;
  left: 0;
}

#sale {
  padding-block: 100px;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
#About-Us {
  background-image: url(/images/aboutbgg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: var(--search-color);
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
}
.about__title {
  padding: 2%;
}
.about__title h2 {
  color: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 3rem;
}
.about__title h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.5rem;
}
.blabal {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.icon-text {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.ICONS {
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 20px;
}

.about__p {
  color: var(--primary-color);
  font-size: 1.125rem;
}
.about__title button {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white-color);
  border: none;
  padding: 20px 30px;
  gap: 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-top: 30px;
}
.about__title button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px 2px #00000052;
}

.products__title {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.main-title {
  font-size: 3.125rem;
  color: var(--primary-color);
}

.card {
  width: 20%;
  background-color: var(--search-color);
  padding: 1rem 2rem;
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

.card__body > img {
  width: 100%;
}
