:root {
  --primary-color: #274c5b;
  --border-color: #e0e0e0;
  --search-color: #fafafa;
  --mint-color: #68a47f;
  --yellow-color: #efd372;
  --white-color: #ffffff;
  --grey-color: #b8b8b8;
  --dim-color: #525C60;
  --text-color: #525c60;
}
